<!DOCTYPE html>
html
  head
    title #{name}
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    )
    style 
      include index.css
  body
    div(class="container bg-white p-0")
      nav(class="navbar navbar-light bg-light" )
        a(class="navbar-brand" href="/") OCI-Test
      div(class="form-name")
        h3(id="name") #{name}
      form(method="POST" action="/sendxml")
        ul(class="list")
          li(class="list-item")
            div(class="row input-group mb-3")
              div(class="col-2 input-group-prepend pr-0")
                span(class="input-group-text w-100") URL to Test
              input(type="text" name="urltotest" class="form-control input-value" value=urltotest)
          li(class="list-item") #{firstHint}
          li(class="list-item")
            button(type="sumbit" class="btn do-it-button" id="do-button") 
              span(class="pr-2 pl-2") Send it
          li(class="list-item") #{secondHint}
          li(class="list-item")
            textarea(class="m-auto" name="xmltosend" rows="50") #{xml}
      script
        include formXML.js
